<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297916384915-igocr6f4ckenls5jm8o9mjc40lpn97a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297916384915-igocr6f4ckenls5jm8o9mjc40lpn97a3</string>
	<key>API_KEY</key>
	<string>AIzaSyBlwJQlxIJwpITDnIJ5Tkh0ZsFwJOUdt9o</string>
	<key>GCM_SENDER_ID</key>
	<string>297916384915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filament.uchicago.quanderrealm</string>
	<key>PROJECT_ID</key>
	<string>quander-production</string>
	<key>STORAGE_BUCKET</key>
	<string>quander-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297916384915:ios:00a809ac4870c529e9af66</string>
	<key>DATABASE_URL</key>
	<string>https://quander-production-default-rtdb.firebaseio.com</string>
</dict>
</plist>