<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721683477410-folpbcms01n819ehdahkdnk36n8tu80p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721683477410-folpbcms01n819ehdahkdnk36n8tu80p</string>
	<key>API_KEY</key>
	<string>AIzaSyD-iTU5nDIRe-IFkgNKJWEyjHAGBNJHe04</string>
	<key>GCM_SENDER_ID</key>
	<string>721683477410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filamentgames.uchicago.quantumzombies</string>
	<key>PROJECT_ID</key>
	<string>filament-zombies</string>
	<key>STORAGE_BUCKET</key>
	<string>filament-zombies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721683477410:ios:d28a63b26f75ebfcd8b8fb</string>
</dict>
</plist>